:root {
  /* color */
  --color-yellow: #fae100;
  --color-light-green: #dbdb62;
  --color-medium-green: #b8be3c;
  --color-brown: #a75d34;
  --color-gray: #969595;
  --color-light-gray: rgb(0, 0, 0, 0.4);

  /* space */
  --horizontal-space: 25px;
  --main-border: 1px solid rgb(0, 0, 0, 0.5);
  --main-light-border: 1px solid rgb(0, 0, 0, 0.3);
}
