#chat-screen {
  background-color: var(--color-light-yellow);
  height: 2000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: var(--color-light-yellow);
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  top: 10px;
  z-index: 1;
}

.main-chat {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: white;
  background-color: #92a4b267;
  padding: 12px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 45%;
  margin-right: 12px;
}

.message__author {
  color: var(--color-gray);
  /* font-size: 14px; */
  margin-bottom: 8px;
  display: block;
}

.message__bubble {
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 8px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__time {
  color: var(--color-gray);
  font-size: 14px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--color-light-green);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin: 0 0 0 8px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

/* Key board */
.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  color: var(--color-gray);
}

.reply__column:first-child i {
  font-size: 1.2em;
}
.reply input {
  padding: 11px;
  width: 100%;
  border: var(--main-light-border);
  border-radius: 20px;
  box-sizing: border-box;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 1px;
  top: 2px;
}

.reply__column:last-child > i {
  right: 40px;
  top: 7.5px;
  font-size: 1.2em;
  margin-right: 5px;
}

.reply__column button {
  background-color: var(--color-light-green);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: none;
}

.reply__column button i {
  color: rgba(0, 0, 0, 0.692);
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
