#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-medium-green);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  color: var(--color-brown);
  top: 0;
}

@media screen and (min-width: 645px) {
  #no-mobile {
    display: none;
  }
}
